# Logs
connect-pharma/logs
connect-pharma/*.log
connect-pharma/npm-debug.log*
connect-pharma/yarn-debug.log*
connect-pharma/yarn-error.log*
connect-pharma/pnpm-debug.log*
connect-pharma/lerna-debug.log*

connect-pharma/node_modules
connect-pharma/dist
connect-pharma/dist-ssr
connect-pharma/*.local

# Editor directories and files
connect-pharma/.vscode/*
connect-pharma/!.vscode/extensions.json
connect-pharma/.idea
connect-pharma/.DS_Store
connect-pharma/*.suo
connect-pharma/*.ntvs*
connect-pharma/*.njsproj
connect-pharma/*.sln
connect-pharma/*.sw?
connect-pharma/.gitignore
connect-pharma/.firebaserc

connect-pharma/.env

# connect-pharma-228

connect-pharma-228/logs
connect-pharma-228/*.log
connect-pharma-228/npm-debug.log*
connect-pharma-228/yarn-debug.log*
connect-pharma-228/yarn-error.log*
connect-pharma-228/pnpm-debug.log*
connect-pharma-228/lerna-debug.log*

connect-pharma-228/node_modules
connect-pharma-228/dist
connect-pharma-228/dist-ssr
connect-pharma-228/*.local

# Editor directories and files
connect-pharma-228/.vscode/*
connect-pharma-228/!.vscode/extensions.json
connect-pharma-228/.idea
connect-pharma-228/.DS_Store
connect-pharma-228/*.suo
connect-pharma-228/*.ntvs*
connect-pharma-228/*.njsproj
connect-pharma-228/*.sln
connect-pharma-228/*.sw?
connect-pharma-228/.gitignore
connect-pharma-228/.firebaserc

connect-pharma-228/.env